@font-face {
    font-family: 'PF Champion Script Pro';
    src: url('../fonts/PFChampionScriptPro-Bold.eot');
    src: url('../fonts/PFChampionScriptPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFChampionScriptPro-Bold.woff2') format('woff2'),
    url('../fonts/PFChampionScriptPro-Bold.woff') format('woff'),
    url('../fonts/PFChampionScriptPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}